.banner-container{
    background: rgb(194,190,190);
  background: linear-gradient(180deg, rgba(194,190,190,0.4206057422969187) 0%, rgba(179,222,232,0.5466561624649859) 0%, rgba(255,255,255,1) 67%);
}
.banner-title{
    font-size: 50px;
    font-weight: bolder;
}